/* intuitivnější box-sizing */

html {
    box-sizing: border-box;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}


/* ---------------------------------------------------- */

.kalendar {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 2px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.kalendar li {
    border: solid silver 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kalendar li button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
}

.zahlavi {
    background-color: rgb(230, 76, 76);
    color: white;
}

.predchozi,
.nasledujici {
    background-color: lightgray;
    color: rgb(110, 110, 110);
}

.kalendar li button:hover,
.kalendar li button:focus {
    background-color: rgb(241, 241, 241);
}